.tabResult .tabBx .mobile-menu{display:none}
@media (max-width:1170px) {
.container,.Footercontainer{max-width:100%; width:983px;}
.header-right{width:600px;}
.newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li > a,.newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li > span.dynamic-children,.newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li ul li a{font-size:13px; padding-left:15px; padding-right:15px}
.dept-announcement .image-sliders{width:56%;}
.dept-announcement .image-infoslider{width:44%;}
#contentBox{width:100%;}
.tabNav ul li a{font-size:0.8em;}
.owner-info ul li abbr{width:30%;}
.owner-info ul li span{width:70%;}
.poll-block{width:85%;}
.footer-links ul li a{}
.footer-links ul li{margin:0 0 5px; padding:0 5px;}
.footer-links{float:none; text-align:center}
.social-media{width:175px; margin:0 auto; padding:10px 0; float:none}
.Lacoefooter p{margin-top:0; text-align:center}
.Lacoefooter{margin-top:0px;}
.custom-noresult{background:none !important}
.overall-size-fonts{margin-top:-3px;}
.upcoming-event-box.cal-view-icon .custom-noresult{background:#fff !important}
.header .placeholder-cnt{width:48%}
#example5 .sp-thumbnail-description{font-size:13px;}
.lcoe-report-card img{max-width:100%;}
.poll-block .poll-vote-list.poll-vote-listquestn .input-type-radio label{font-size:13px;}
.poll-block h2{font-size:16px;}
.trendingtag-box div[id$="_results"] .ms-noWrap .ms-textLarge{font-size:16px;}
.DocumentswithSidebar .docRytSide .ms-srch-item-body{display:block; overflow:visible}
.DocumentswithSidebar .docRytSide .ms-srch-item{width:450px;}
}
@media (max-width:980px){
.documentsearch-box .ms-srch-sb-border input[type="text"], .documentsearch-box .ms-srch-sb-borderFocused input[type="text"]{width: 78%;}
.container, .Footercontainer {max-width: 100%;width: 750px;}
.logo .ms-siteicon-img{width:170px;}
#siteIcon{width:23%;}
.header-right{width:55%;}
.main-page-search{width:79%;}
.overall-size-fonts{width:16%; margin-right:5%;}
.page-heading h1{font-size:1.25em;}
.box-heading h3{font-size:1em; padding-top:7px; padding-bottom:7px;}
.boxes-cntr .grid-8{float:none; width:100%;padding-bottom:11px;}
.boxes-cntr .grid-4{float:none; width:100%;padding-bottom:0px;}
.boxes-cntr .grid-8 + .grid-4{padding-bottom:0px;}
.image-infoslider .bx-viewport{width:100.1% !important}
.content-area .container{padding-bottom:11px}
.owner-info ul li abbr{width:100px;}
.owner-info ul li span{width:85%;}
.pagination-page .grid-4{width:33.3333%; float:left; padding-bottom:0}
.box-style.lcoe-report-card .box-contentinfos .tabNav ul li a br{display:none}
.box-style.lcoe-report-card .lacoe-reportcard-box div{width:100% !important}
.pagination-page dl dd .dept-content li{font-size:0.75em}
.resource-link-section .link-content li, .blog-section .link-content li{font-size:0.875em}
.resource-link-section .bx-viewport, .blog-section .bx-viewport{height:195px !important}
.mobile-nav-icon{display:block; position:relative}

/*Menu Animation*/
.menu-icon:hover{background-color:transparent}
.menu-icon { display: block; float:right; position: relative; overflow: hidden; margin: 0; padding: 0; width: 31px; height: 31px; font-size: 0; text-indent: -9999px; -webkit-appearance: none; -moz-appearance: none; appearance: none; box-shadow: none; border-radius: none; border: none; cursor: pointer; -webkit-transition: background 0.3s; transition: background 0.3s; }
.menu-icon:focus { outline: none; }
.menu-icon span { display: block; position: absolute; top: 13px; left: 0px; right: 0px; height: 3px; background: #fff; }
.menu-icon span::before, .menu-icon span::after { position: absolute; display: block; left: 0; width: 100%; height: 3px; background-color: #fff; content: ""; }
.menu-icon span::before { top: -8px; }
.menu-icon span::after { bottom: -8px; }
.mobil-icon-toggle { background-color: transparent;}
.mobil-icon-toggle span { -webkit-transition: background 0s 0.3s; transition: background 0s 0.3s; }
.mobil-icon-toggle span::before, .mobil-icon-toggle span::after { -webkit-transition-duration: 0.3s, 0.3s; transition-duration: 0.3s, 0.3s; -webkit-transition-delay: 0.3s, 0s; transition-delay: 0.3s, 0s; }
.mobil-icon-toggle span::before { -webkit-transition-property: top, -webkit-transform; transition-property: top, transform; }
.mobil-icon-toggle span::after { -webkit-transition-property: bottom, -webkit-transform; transition-property: bottom, transform; }
/* active state, i.e. menu open */
.mobil-icon-toggle.active { background-color: transparent; }
.mobil-icon-toggle.active span { background: none; }
.mobil-icon-toggle.active span::before { top: 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.mobil-icon-toggle.active span::after { bottom: 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.mobil-icon-toggle.active span::before, .mobil-icon-toggle.active span::after { -webkit-transition-delay: 0s, 0.3s; transition-delay: 0s, 0.3s; background: #fff; }
.nav-icon { display: block; padding-right: 10px; padding-top: 10px; }
.nav .container{width:100%;}
.nav{position:relative}
.nav li{float:none; display:block}
.nav li a{display:block;}
.nav li a span.dynamic-children{background-position:right center; display:block;position:relative; z-index:99}
.nav ul{position:static !important}
ul.dynamic{display:none !important}
.nav ul.root.ms-core-listMenu-root.static{display:block}
.nav .container{display:none;}
.nav .container.open{display:block;}
.mobiledrop-down {position:absolute; right:0; top:0; background:#fff;height: 22px;width: 22px; z-index:999}
.mobiledrop-down:after{content:'+'; font-style:normal; position:absolute; text-align:center; width:100%; color:black; line-height:18px; font-size:21px}
.mobiledrop-down.mble-active:after{content:'-'}
.mbldynamic{list-style-type:disc !important}
.newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li ul li a{color:#fff;}
	ul.mbldynamic{padding-left:15px !important; width:100% !important}
	.mobiledrop-down{top:8px; right:20px}
	.nav li.dynamic{display:block !important; position:relative !important}
	.nav li.dynamic .mobiledrop-down{right:20px; top:0}
	.newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li ul li a{display:block !important}
	.mobil-icon-toggle.active{top:10px}
	.newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li > a:hover{background-color:transparent !important}
	.mbldynamic	li.dynamic{background:url('Images/bullet-circle.png') left 11px no-repeat !important; padding-left:10px !important}
	.mbldynamic	li.dynamic a{background-color:transparent !important; width:90%;}
	.nav li.dynamic{position:relative !important; top:0 !important; left:0 !important}
	.nav > li.static{position:relative !important;}
	#DeltaTopNavigation .noindex.ms-core-listMenu-horizontalBox{width:100%}
	#DeltaTopNavigation ul li.dynamic{position:relative !important; top:0 !important; left:0 !important}
	#DeltaTopNavigation > .noindex.ms-core-listMenu-horizontalBox > ul.static > li.static{position:relative !important;}
	
	.banner-guestproj{width:50%;}
	.info-guest-proj{width:50%;}
	.box-style.lcoe-report-card .lacoe-reportcard-box div iframe{height:102% !important}
	.project-guestbox{margin-bottom:25px}
	.dept-calender{min-height:275px}
	.poll-block{width:82%; padding:0}
	.input-type-radio label{font-size:1em;}
	.Lacoefooter .Footercontainer{width:97%;}
	.footer-links ul li a{font-size:0.75em}
	.footer-links ul li{margin:0 0 5px; padding:0 5px; display: inline-block; float: none;}
	.footer-links{float:none; text-align:center}
	.social-media{width:175px; margin:0 auto; padding:10px 0; float:none}
	.Lacoefooter p{margin-top:0; font-size:0.75em; text-align:center}
	.Lacoefooter{margin-top:0px;}
	ul.poll-results-list li:last-child{width:25%;}
	ul.poll-results-list li{padding-right:3%;}
	ul.poll-results-list li span{font-size:0.875em}
	.ms-core-listMenu-horizontalBox .dynamic .dynamic-children.additional-background{background-image:none}
	ul#zz11_RootAspMenu > li.static span, ul#zz11_RootAspMenu > li.static a,.newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li > a, .newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li > span.dynamic-children, .newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li ul li a{width:90% !important; background-image:none !important}
	#txtSearchPlaceHolder{apperance:none; border-radius:0}
	
	.docLeftside{display:block; width:100%; min-height:auto;}
	.docRytSide{display:block; width:100%;}
	.docLeftside .ms-ref-refiner{display:inline-block; vertical-align:top}
	.docLeftside .ms-ref-refiner #Container{border-bottom:none}
	.header .placeholder-cnt{width:100%; float:none; margin:0 auto; margin-top: 19px;}
	
	.newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li > a > .dynamic-children.additional-background, .ms-core-listMenu-horizontalBox .dynamic-children.additional-background{background-image:none !important}
	.newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li > a:hover, .newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li > a.ms-core-listMenu-selected{background:none !important}
	.boxes-cntr .grid-4{padding-bottom:11px;}
	.boxes-cntr .grid-4:nth-child(3){padding-bottom:0}
	.landing-quicklink #application-box table td[id^="scriptWPQ"] table td:first-child img{width:18px;}
	.box-contentinfos .poll-block .poll-vote-list  li{margin-top:10px;}
	.box-contentinfos .poll-block .poll-vote-list li:first-child{margin-top:20px;}
	.lcoe-report-card .box-contentinfos{text-align:center}
	
	.boxes-cntr .pagination-page .grid-4{padding-bottom:0}
	.sitefollw-section{ min-height: 350px;}	
	.sitefollw-section .box-contentinfos{height: 100%;}
}

/* ======================== below ipad ======================== */
@media (max-width:767px){
	#DeltaPlaceHolderMain{padding: 0 10px;}
	.event-search-pagin ul li{width: 48% !important;}
	.traning_mobile .ms-webpart-zone, .traning_mobile .ms-webpart-cell-vertical, .traning_mobile .ms-webpart-chrome-vertical{ display:block;}
	.traning_mobile .lt-row-desc{width: 100%;margin-left: 0px;}
	.traning_mobile .date-showbox{float:none; display:block; margin:0 auto; margin-bottom: 5px;}
	.traning_mobile .l-t-box-pagination ul li{margin-bottom: 20px;}
	.fullstaticslider1 li img, .fullstaticslider1 li{width:100%}
	.benifits_mobile{padding: 0 6px;}
	.benifits_mobile_scroll dl{width: 200%;}
	.benifits_mobile_scroll{overflow: hidden; overflow-x: scroll;}
	.documentsearch-box .ms-webpart-zone.ms-fullWidth{width: 67%;}
    .ms-srch-item-path,#SearchBox,#SearchBox .ms-srch-sbLarge{width: 100%;}
    .faqs-boxcntr .accordion dl dt{padding: 5px 10px 5px 47px;}
    .faqs-boxcntr .accordion dl dt:after{left: 12px;}
    .faqs-boxcntr .accordion dl dd{padding: 10px 5%;}
    .ms-srch-hover-outerContainer{left: 29px !important;}
    .DocumentswithSidebar .docRytSide .ms-srch-item{width:100%;}
    .ms-srch-sbLarge-fullWidth{width: 85%;}
	.pictorial-discussion .pagination-cntrbx{width: auto;display: inline-block;}
	.mobile_search_button img{display:block;}
	.mobile_search_button{width: 20px; height:20px; display: inline-block; cursor : pointer; position: absolute; right: 4px;    overflow: hidden; top:6px;}
	.mobile_search_button.unfocused{display:none;}
	#SearchBox .ms-srch-sb > input{text-indent:-9999px;}
	.active_input #SearchBox .ms-srch-sb > input{text-indent:0px;}
	.sitefollw-section{min-height: 288px;}
	.container, .Footercontainer{width:96%;}
	.header-right,.dept-announcement .image-sliders,.dept-announcement .image-infoslider{width:100%;}
	.normal-search {width: 30%;}
	.overall-size-fonts {margin-right: 0;width: 20%;}
	.selectdropwn-search{width:70%;}
	.selectdropwn-search .input-type-select{width:82%;}
	.selectdropwn-search input[type="text"]{font-size:0.775em}
	.keyprofilepic {text-align: center;}
	#siteIcon {width: auto;}
	#siteIcon > #DeltaSiteLogo {display: inline-block;width: 150px;}
	.new-searchbox{display:block; width:247px; margin:0 auto; float:none;position: absolute;right: 14px; top: 14px;}
	.new-searchbox .ms-mpSearchBox{position: relative;}
	.new-searchbox #searchInputBox{-webkit-transition:  width 1s; transition: width 1s; width: 29px;overflow: hidden;}
	.ms-srch-sb > .ms-srch-sb-searchLink{position: absolute;right: 5px;display:none; top: 5px;}
	.ms-srch-sb > .ms-srch-sb-navLink{position: absolute;display:none; right: 24px; top: 5px;}
	.active_input .ms-srch-sb > .ms-srch-sb-searchLink{display:block;}
	.active_input .ms-srch-sb > .ms-srch-sb-navLink{display:block;}

	.active_input.new-searchbox #searchInputBox{width : 247px;}

	.header .placeholder-cnt{padding:10px 0 5px 0; clear:both;}
	.logo .ms-siteicon-img {max-width: none;width: 100%;}
	/*tab Layout Css*/
	.tabNav{display:none}
	.tabResult{padding:20px 0;}
	.tabResult .tabBx{display:block !important;border:1px solid #ccc;margin-bottom:10px;border-radius:5px; width:95%; margin-left:auto; margin-right:auto}
	.tabResult .tabBx .content{display:none;padding:10px 3%;}
	.tabResult .tabBx .mobile-menu {display:block;font:600 14px "Open Sans", sans-serif;color:#fff;background:#eee;border-radius:3px 3px 0 0;}
	.tabResult .tabBx .mobile-menu a{display:block;padding:10px 3% 10px 40px; position: relative;}
	.tabResult .tabBx .mobile-menu a:after{border: 1px solid #666666;border-radius: 2px;content: "";height: 20px;margin: 6px 1%;position: absolute;left: 5px;text-align: center;top: 4px;width: 20px;color: #2c6a90;background: url(https://cdnlacoe.azureedge.net/plus-minus.png) no-repeat scroll -1px 2px;
	}
	.tabResult .tabBx .mobile-menu.accp_open a:after{background-position:  -1px -15px;}
	.keycontact-viewlink{position:static}
	.box-style.dept-quicklinks, .announcement-box.dept-announcement{min-height:0}
	.resource-link-section.box-style, .dept-calender, .pictorial-discussion{min-height:0;}
	.blog-section.box-style, .goal-section, .top-contributor, .whats-happening, .feeds-section{min-height:0;}
	.documents-section.grid-12, .discussion-section.grid-12{min-height:0}
	.page_navigation,.pagination-cntrbx{position:static; width:102px; margin:0 auto; float:none;margin-top:14px;}
	.dept-events-tabs:after{content:''; clear:both; display:block; float:none}
	.boxes-cntr .grid-4{clear:both}
	.owner-info ul li span{width:68%;}
	.owner-info ul li abbr{width:32%;}
	.tabResult{padding-top:2% !important}
	.box-paginations{position:static}
	.box-paginations .pagination-cntrbx{margin-top:0}
	.resource-link-section .bx-viewport, .blog-section .bx-viewport{height:192px !important}
	.pagination-page .mobile-wrap{overflow:hidden; overflow-x:scroll;}
	.pagination-page .mobile-wrap dl{width:200%;}
	.boxes-cntr .pagination-page .grid-4{clear:none}
	.footer-links{float:none; text-align:center}
	.social-media{float:none; width:175px; margin:0 auto; padding-top:10px; padding-bottom:5px}
	.Lacoefooter p{margin-top:0; text-align:center; padding: 0 44px;}
	.cal-view-icon .box-heading h3 #anchor-cal-view{margin-top:0; font-size:0px;}
	.overall-size-fonts{margin-top:-3px;}
	.footer-links ul li{margin:0 0 3px; padding:0 5px}
	.scrollTop{right:5px; bottom:5px; width:25px; height:25px}
	.scrollTop a{width:25px; height:25px;}
	.banner-guestproj{float:none; width:100%;}
	.info-guest-proj{float:none; width:100%;}
	#Topcontributor .ms-comm-membersListItem.ms-tableRow{width:100% !important}
	.ques-box{float:none; margin:0 auto; padding-bottom:2.5%;} 
	.poll-block{float:none; margin:0 auto; width:100%; padding:0}
	.input-type-radio label{font-size:0.875em}
	.poll-vote-list li{margin-bottom:5px;}
	.poll-vote-list li:last-child{float:none; clear:both; display:block; text-align:center; padding-top:15px}
	.Lacoefooter{margin-top:0px}
	.footer-links ul li a{font-size:0.75em}
	.pictorial-discussion-cnt ul li{width:153px !important; padding:25px 0}
	.pictorial-discussion-cnt .box-paginations{padding:10px 7px 7px 7px}
	.pictorial-discussion-cnt .bx-viewport{height:152px !important}
	.top-contributor .box-contentinfos{padding-bottom:0;}
	.top-contributor .box-contentinfos .box-paginations{padding-top:25px !important;}
	.poll-results-list.final-result-poll li{float:none; width:100%; padding-right:0}
	.percentage{bottom:1px;}
	ul.poll-results-list li:last-child{width:100%; float:none; text-align:center}
	ul.poll-results-list li span{font-size:0.875em}
	.newdeltatopNav > .ms-core-listMenu-horizontalBox > ul > li > a > .dynamic-children.additional-background, .ms-core-listMenu-horizontalBox .dynamic-children.additional-background{background-image:none !important}
	
	#example5{padding-right:0 !important; max-width:100% !important; width:100% !important}
	.sp-left-thumbnails, .sp-right-thumbnails{position:static}
	#example5 .sp-thumbnail-description{display:block}
	.slider-pro::after{display:none}
	.sp-mask.sp-grab{width:100% !important}
	.sp-slide{width:100% !important}
	.sp-image-container{width:100% !important}
	.imageSliderresize.nailthumb-container{width:100% !important}
	#example5 .sp-thumbnail-text{width:100%;}
	#WPZAnouncement.OrgAnnouncement #two,#WPZAnouncement.OrgAnnouncement .sp-thumbnail-container{display:block; width:100% !important; text-align:left !important}
	#WPZAnouncement.OrgAnnouncement .ms-webpart-zone,#WPZAnouncement.OrgAnnouncement .ms-webpart-chrome-vertical,#WPZAnouncement.OrgAnnouncement .ms-webpart-cell-vertical{display:block}
	
	.sp-thumbnail-description a{display:block; text-align:left}
	#WPZAnouncement.OrgAnnouncement .announcement-sliders{padding-bottom:45px;}
	.announcement-box .box-paginations{margin-left:-51px; left:50%; right:auto; bottom:9px}
	.landing-quicklink #form-pagination, .landing-quicklink #policies-pagination,.landing-quicklink #application-box .pagination-page{margin-left:-3.3%; margin-right:-3.3%;}
	.landing-quicklink #application-box,.landing-quicklink #forms-box,.landing-quicklink #policies-box{margin-left:auto; margin-right:auto;}
	.quicklinks-section.landing-quicklink .box-contentinfos{min-height:auto; padding-bottom:0; padding-left:0; padding-right:0}
	.landing-quicklink .keycontact-viewlink,.keycontact-viewlink{width:100%; text-align:center}
	.btn-wrapper{float:none; padding: 0px 3px 7px 3px;}
	#plusCal + #anchor-cal-view{text-indent:-999px; width:0; overflow:hidden; padding-left:18px; height:18px; margin-top:2px;}
	.upcoming-event-box.cal-view-icon .tabResult .tabBx .content{position:relative}
	.upcoming-event-box.cal-view-icon .custom-noresult{top:0}
	.select-filtercaldr .input-type-select{width:100%; margin-bottom:10px}
	.lcoe-report-card .btn-wrapper{padding-left:0; padding-right:0}
	.pagination-page .mobile-wrap{padding-bottom:33px}
	.box-style.lcoe-report-card.small-reportcard{min-height:auto}
	.box-style.lcoe-report-card.small-reportcard .box-contentinfos{padding-bottom:0}
	.lcoe-report-card img{width:280px; margin:0 auto}
	#WPZAnouncement.OrgAnnouncement .sp-image{width:100% !important; height:auto !important}
	
	.landing-quicklink #forms-box .content, .landing-quicklink #policies-box .content{padding-bottom:0}
	.lcoe-report-card .keycontact-viewlink{padding:0;}
	.lcoe-report-card .btn-wrapper #AllGoals{margin-right:0}
	.tabResult .tabBx .content{position:relative;overflow:hidden}
	.tabResult .tabBx .content .custom-noresult{top:0; left:0; position:absolute; width:100%; height:92%; background:#fff !important; padding-left:8px}
	.department-new .documents-section.grid-12{min-height:auto}
	.department-new .box-style.lcoe-report-card .box-contentinfos{min-height:auto; padding-bottom:0; height:auto}
	.department-new .box-style.lcoe-report-card{min-height:auto}
	dl.double_width_header{width: 400% !important;}
	.report_card_acc_content{height: 360px;}
	.box-style.lcoe-report-card .box-contentinfos.report_block{height: 571px;}
	.myactivty-box{min-height: 229px;}
	.scrollTop a{background: url(https://cdnlacoe.azureedge.net/sprite.png) no-repeat -264px 0px #1C7EC7;}
}
@media (max-width:568px){
.tabResult{padding-top:3% !important}
.box-style.lcoe-report-card .tabNav{display:block}
}
@media (max-width:460px){
	.box-style.lcoe-report-card .box-contentinfos .tabNav ul li a br{display:block}
	#pluscal + #anchor-cal-view{margin:0 15px}
	
}

@media (max-width:400px){
  .pictorial-discussion-cnt ul li{width:174px !important}
}

@media (max-width:340px){
.pictorial-discussion-cnt ul li{width:152px !important}
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
.social-media{float: left;}
.Lacoefooter p{float: right;margin-top: -37px; padding-left: 0px; padding-right: 73px;}
.scrollTop{right: 22px; bottom: 27px;}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait){
.social-media{float: left;}
.Lacoefooter p{float: right;margin-top: -37px;}
.scrollTop{bottom: 56px;}
}
